.NvPost {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.NvPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NvPost input,
.NvPost textarea,
.NvPost select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    outline: none;
    font: inherit;
    margin: auto;
}

