.PostComplet {

    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.Edit label {
    display: block;
    color: grey;
}

